<% content_for :top_content do %>
  <div class="main-image">
    <div class="container">
      <h1 class="myLinkbrary">myLinkbrary</h1>
      <p style="color:white">Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
