<h3>My Links</h3>

<div class="table-responsive">
  <table class="table-striped">
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <td class="col-xs-12"><%= link_to link.title, link.url, target: "_blank" %></td>
        <td class="link-detail"><%= link_to link_path(link) do %> <span class="glyphicon glyphicon-chevron-right"/><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
