<h1>Links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Notes</th>
  </tr>

  <% @links.each do |link| %>
    <tr>
      <td><a href="<%= link.url %>" target="_blank"><%= link.title %></a></td>
      <td><%= link.notes %></td>
    </tr>
  <% end %>
</table>
