/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@import url(https://fonts.googleapis.com/css?family=Cookie);

body {
  margin-top: 5.5em;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.main-image {
  @extend .jumbotron;

  //background: url(image_path('myLinkbrary.png')) center -75px;
  background: url(image_path('myLinkbrary2.jpg')) center;

  /*background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;*/
  height: 100%;
  width: 100%;
}

.navbar-brand {
  font-family: 'Cookie', cursive;
  font-size: 250%;
}

.main-image .myLinkbrary {
  font-family: 'Cookie', cursive;
  font-size: 5em;
  color: #e7e7e7;
}
